@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

body {
    font-family: 'Roboto', sans-serif;
}
#search-form{
    background-color: #e9ecef;
    border: none ;
    padding: 0.8rem;
}

a{
    text-decoration: none;
}
#btnGroupAddon{
    border: none;
}

#search-form:focus, #submit:focus{
    outline: none;
    box-shadow: none;
}

#info-area{
    display: none;
}

#submit{
    background-color: #e74c3c;
    border: none;
}

button{
    border: none;
}

footer p{
    text-align: center;
    padding-top: 20%;
    bottom: 0;
}